.Main-header {
  display: flex;
  align-items: center;
  
  padding: 10px 16px;
  color: #002f34;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Main-header>div{
 margin-right: 23px;
}
img{
 margin-right: 23px;
}
input {
  padding: 1rem 8rem;
  border: 2px solid black;
}
button {
  padding: 5rem;
}

.sell-btn {
  border: 1px;
}
.eng-log{
  font-weight: 500;
 
}
.eng-log:hover{
   cursor: pointer;
  text-decoration: none;
}
.ll{
  display: flex;
}