
.Main-header{
  
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding: 10px 16px;
  
  
}

input{
 padding: 1rem 8rem;
 border:2px solid black;
}
button{
  padding: 5rem;   
}
.search-button{
    background-color: #002f34;
   border:2px solid #002f34;
    color: white;
     border-radius: 5%;
}

