 .main-prod{
    display: grid;
    /* border: 5px solid; */
   
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:20px;
 }
 .prod{
    height: 300px;
    border:1px solid grey;
    padding: 20px 40px;
    border-radius: 5px;
 }
.prod>img{
    width: 100%;
    height: 50%;
}